<%- include("partials/header") -%>

    <h1>Edit Quiz</h1>

    <div class="quiz-edit">
        <% savedQuiz.forEach(function(savedQuizItem) { %>
            <div class="single-edit">
                <button class="single-edit-btn">
                    <div>
                        <h3 class="quiz-question-edit">
                            <%= savedQuizItem.question %>
                        </h3>
                        <h3 class="quiz-answer-edit">
                            <%= savedQuizItem.answer %>
                        </h3>
                    </div>
                </button>

                <div class="edit-controls">
                    <a href="/edit/<%= savedQuizItem._id %>"><button class="pencil make-edit hidden"><box-icon
                                name='pencil'></box-icon></button></a>
                    <a href="/delete/<%= savedQuizItem._id %>"><button class="trash make-edit hidden"><box-icon name='trash' color='#000000'></box-icon></button></a>
                </div>

            </div>
            <% }) %>
    </div>

    <script type="text/javascript">

        const questionForEdit = document.querySelector('.quiz-question-edit')
        const answerForEdit = document.querySelector('.quiz-answer-edit')
        const singleEdits = document.querySelectorAll('.single-edit');

        const delBtn = document.querySelector('.trash')
        const modBtn = document.querySelectorAll('.pencil')

        singleEdits.forEach(function (quizBtn) {
            quizBtn.addEventListener("click", function () {
                const editBtns = this.querySelectorAll('.make-edit');
                editBtns.forEach(btn => btn.classList.toggle('hidden'));

                // Hide buttons for other items
                singleEdits.forEach(item => {
                    if (item !== quizBtn) {
                        const otherBtns = item.querySelectorAll('.make-edit')
                        otherBtns.forEach(btn => btn.classList.add('hidden'));
                    }
                });
            });
        });

    </script>
    <%- include("partials/footer") -%>