<%- include ("partials/header"); -%>

    <div class="quiz-start" data-quiz='<%= JSON.stringify(savedQuiz) %>'>
        <h1 class="question-display">
            <%= savedQuiz[currentQuizIndex].question %>
        </h1>
        <h1 class="answer-display hidden">
            <%= savedQuiz[currentQuizIndex].answer %>
        </h1>

        <button class="next-btn hidden" onclick="nextQuiz()">Next</button>
        <button class="show-btn" onclick="showAns()">Answer</button>
    </div>

    <%- include("partials/footer") -%>